.services {
    margin: 100px auto;
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    width: 90%;
}
.service-left {
    flex-basis: 40%;
    position: relative;
}
.service-right {
    flex-basis: 56%;
}
.service-img {
    width: 100%;
    min-height: 250px;
    border-radius: 10px;
    margin-top: 40px;
}
.play-icon {
    width: 60px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}
.service-right h3 {
    font-weight: 600;
    font-size: 16px;
    color: var(--dark);
    margin-bottom: 30px;
}
.service-right h2 {
    font-size: 35px;
    color: var(--dark-grey);
    margin: 10px 0;
    max-width: 400px;
}
.service-right p {
    color: var(--dark-grey);
    margin-bottom: 15px;
    line-height: 2rem;
}
.service-right ul {
    margin-left: 20px;
}

/* media query */

@media (max-width: 800px) {
    .services {
        flex-direction: column;
    }
    .service-left {
        flex-basis: 100%;
        margin: 20px;
        order: 2;
    }
    .service-right {
        flex-basis: 100%;
    }
    .service-img {
        margin-top: 0;
    }
}
